---
# task/prerequisites file for manage_pip_packages
- name: "Install python3 and pip"
  ansible.builtin.include_role:
    name: ednxzu.manage_apt_packages
  vars:
    manage_apt_packages_list: "{{ manage_pip_packages_required_packages }}"

- name: "Update pip to latest"
  ansible.builtin.pip:
    name: pip
    extra_args: "--upgrade{% if manage_pip_packages_allow_break_system_packages %} --break-system-packages{% endif %}"
